body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(132, 197, 138);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #364d33;
    padding: 20px;  
    color: white;
}

header h3{
    margin: 0;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

article{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 20%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


img{
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}


h2 {
    font-size: clamp(1rem, 2vw, 2rem);
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ecddd0;
    color: black;
    width: 100%;
    border:#364d33 solid 1px;
}

footer *{
    color: black;
    font-size: large;
    margin: 0px 30px;

}